In [1]:
import pandas as pd

df = pd.read_csv("../../data/국토교통부_주택실거래가 매매코드_20201119.csv", encoding="cp949")
df.head()

        법정동코드     행정동코드  기타주소 건물명    본번    부번             법정동주소    구축년도
0  1138010300  20138265  (330-43)   330  43.0     서울특별시 은평구 불광동  1993.0
1  1138010300  17126660  (330-43)   330  43.0     서울특별시 은평구 불광동  1993.0
2  1138010300  20114157  (330-43)   330  43.0     서울특별시 은평구 불광동  1993.0
3  2629010600  20177528   (39-30)    39  30.0      부산광역시 남구 대연동  2013.0
4  5011011700  20288189  (6156-0)  6156   0.0  제주특별자치도 제주시 아라일동  2014.0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420198 entries, 0 to 420197
Data columns (total 7 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   법정동코드     420198 non-null  int64
 1   행정동코드     420198 non-null  int64
 2   기타주소 건물명  420175 non-null  object
 3   본번        420198 non-null  int64
 4   부번        420198 non-null  float64
 5   법정동주소     420198 non-null  object
 6   구축년도      404195 non-null  float64
dtypes: float64(2), int64(3), object(2)
memory usage: 22.4+ MB

In [3]:
df.isna().sum()

법정동코드           0
행정동코드           0
기타주소 건물명       23
본번              0
부번              0
법정동주소           0
구축년도        16003
dtype: int64

In [4]:
df.describe()

              법정동코드         행정동코드             본번             부번           구축년도
count  4.201980e+05  4.201980e+05  420198.000000  420198.000000  404195.000000
mean   2.857652e+09  1.662409e+08     505.025567      35.520546    2001.248937
std    1.384607e+09  5.558128e+08     547.907074     123.465423      11.386724
min    1.000100e+09  1.000000e+00     -61.000000       0.000000    1937.000000
25%    1.162010e+09  1.207570e+07     149.000000       2.000000    1992.000000
50%    2.823710e+09  1.221711e+07     372.000000       9.000000    2002.000000
75%    4.136026e+09  2.030481e+07     693.000000      24.000000    2012.000000
max    9.900000e+09  2.500096e+09    9999.000000    9999.000000    2020.000000

In [5]:
df["구축년도"] = pd.to_datetime(df["구축년도"])
df.head()

,법정동코드,행정동코드,기타주소 건물명,본번,부번,법정동주소,구축년도
0,1138010300,20138265,(330-43),330,43.0,서울특별시 은평구 불광동,1970-01-01 00:00:00.000001993
1,1138010300,17126660,(330-43),330,43.0,서울특별시 은평구 불광동,1970-01-01 00:00:00.000001993
2,1138010300,20114157,(330-43),330,43.0,서울특별시 은평구 불광동,1970-01-01 00:00:00.000001993
3,2629010600,20177528,(39-30),39,30.0,부산광역시 남구 대연동,1970-01-01 00:00:00.000002013
4,5011011700,20288189,(6156-0),6156,0.0,제주특별자치도 제주시 아라일동,1970-01-01 00:00:00.000002014

In [6]:
df["기타주소 건물명"] = df["기타주소 건물명"].fillna("(0-0)")

In [7]:
df = df.loc[:, ["법정동코드", "행정동코드", "법정동주소"]]
df["지역코드"] = df["법정동코드"] // 100000
df

             법정동코드     행정동코드             법정동주소   지역코드
0       1138010300  20138265     서울특별시 은평구 불광동  11380
1       1138010300  17126660     서울특별시 은평구 불광동  11380
2       1138010300  20114157     서울특별시 은평구 불광동  11380
3       2629010600  20177528      부산광역시 남구 대연동  26290
4       5011011700  20288189  제주특별자치도 제주시 아라일동  50110
...            ...       ...               ...    ...
420193  4161025322  20411335   경기도 광주시 초월읍 쌍동리  41610
420194  1126010300  20411303     서울특별시 중랑구 중화동  11260
420195  1121510100  20411305     서울특별시 광진구 중곡동  11215
420196  4148011300  20411312       경기도 파주시 동패동  41480
420197  4136026223  20411344  경기도 남양주시 오남읍 오남리  41360

[420198 rows x 4 columns]

In [8]:

df.groupby(by="지역코드")["법정동주소"].value_counts()

지역코드   법정동주소
10001  수도권                       4
11000  서울특별시                     6
11110  서울특별시 종로구 창신동           341
       서울특별시 종로구 숭인동           297
       서울특별시 종로구 행촌동           232
                              ...
50130  제주특별자치도 서귀포시 표선면 가시리      1
       제주특별자치도 서귀포시 표선면 성읍리      1
       제주특별자치도 서귀포시 표선면 세화리      1
       제주특별자치도 서귀포시 회수동          1
99000  전국                        2
Name: count, Length: 6146, dtype: int64

In [9]:
df['시군구명'] = df['법정동주소'].apply(lambda x: ' '.join(x.split()[:2]))
df

             법정동코드     행정동코드             법정동주소   지역코드         시군구명
0       1138010300  20138265     서울특별시 은평구 불광동  11380    서울특별시 은평구
1       1138010300  17126660     서울특별시 은평구 불광동  11380    서울특별시 은평구
2       1138010300  20114157     서울특별시 은평구 불광동  11380    서울특별시 은평구
3       2629010600  20177528      부산광역시 남구 대연동  26290     부산광역시 남구
4       5011011700  20288189  제주특별자치도 제주시 아라일동  50110  제주특별자치도 제주시
...            ...       ...               ...    ...          ...
420193  4161025322  20411335   경기도 광주시 초월읍 쌍동리  41610      경기도 광주시
420194  1126010300  20411303     서울특별시 중랑구 중화동  11260    서울특별시 중랑구
420195  1121510100  20411305     서울특별시 광진구 중곡동  11215    서울특별시 광진구
420196  4148011300  20411312       경기도 파주시 동패동  41480      경기도 파주시
420197  4136026223  20411344  경기도 남양주시 오남읍 오남리  41360     경기도 남양주시

[420198 rows x 5 columns]

In [10]:
df = df.loc[:, ["시군구명", "지역코드"]]
df.groupby("시군구명")["지역코드"].unique()
df

               시군구명   지역코드
0         서울특별시 은평구  11380
1         서울특별시 은평구  11380
2         서울특별시 은평구  11380
3          부산광역시 남구  26290
4       제주특별자치도 제주시  50110
...             ...    ...
420193      경기도 광주시  41610
420194    서울특별시 중랑구  11260
420195    서울특별시 광진구  11215
420196      경기도 파주시  41480
420197     경기도 남양주시  41360

[420198 rows x 2 columns]

In [11]:
# 1. 지역코드와 시군구명 컬럼만 선택해서 중복 제거
unique_area = df[['지역코드', '시군구명']].drop_duplicates()

# 2. 지역코드 순으로 정렬 (보기 편하게)
unique_area = unique_area.sort_values('지역코드')
df = unique_area.reset_index(drop=True)

# 3. 결과 확인
df

      지역코드          시군구명
0    10001           수도권
1    11000         서울특별시
2    11110     서울특별시 종로구
3    11140      서울특별시 중구
4    11170     서울특별시 용산구
..     ...           ...
283  48890      경상남도 합천군
284  50000       제주특별자치도
285  50110   제주특별자치도 제주시
286  50130  제주특별자치도 서귀포시
287  99000            전국

[288 rows x 2 columns]

In [12]:
df.to_csv("../../data/국토교통부_주택실거래가 매매코드_20201119_clean.csv")