In [ ]:
from dotenv import load_dotenv
import requests 
import pandas as pd

base_url = "https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey=ZWRiNzEyMzEwNGI5OWQ3NzcxNGM1MDNiOGJkOTQ0Y2M=&itmId=T10+T20+T25+T30+T31+T32+T40+T50+&objL1=00+11+26+27+28+29+30+31+36+41+51+43+44+52+46+47+48+50+&objL2=&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Y&newEstPrdCnt=3&orgId=101&tblId=DT_1B26001_A01"

response = requests.get(base_url)

items = response.json()
print(len(items))

df = pd.DataFrame(items)
df.to_csv("./data/시군구별 이동자수.csv", index_col=0)

432

,C1_OBJ_NM,DT,C1,PRD_SE,UNIT_NM_ENG,ITM_ID,TBL_ID,ITM_NM,TBL_NM,PRD_DE,LST_CHN_DE,C1_NM_ENG,C1_NM,UNIT_NM,ITM_NM_ENG,ORG_ID,C1_OBJ_NM_ENG
0,행정구역(시군구)별,6152155,00,A,Person,T10,DT_1B26001_A01,총전입,시군구별 이동자수,2022,2023-01-25,Whole Country,전국,명,Total in-migrants,101,By administrative divisions(si gun gu)
1,행정구역(시군구)별,6128738,00,A,Person,T10,DT_1B26001_A01,총전입,시군구별 이동자수,2023,2024-01-18,Whole Country,전국,명,Total in-migrants,101,By administrative divisions(si gun gu)
2,행정구역(시군구)별,6283319,00,A,Person,T10,DT_1B26001_A01,총전입,시군구별 이동자수,2024,2025-01-08,Whole Country,전국,명,Total in-migrants,101,By administrative divisions(si gun gu)
3,행정구역(시군구)별,6152155,00,A,Person,T20,DT_1B26001_A01,총전출,시군구별 이동자수,2022,2023-01-25,Whole Country,전국,명,Total out-migrants,101,By administrative divisions(si gun gu)
4,행정구역(시군구)별,6128738,00,A,Person,T20,DT_1B26001_A01,총전출,시군구별 이동자수,2023,2024-01-18,Whole Country,전국,명,Total out-migrants,101,By administrative divisions(si gun gu)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,행정구역(시군구)별,53965,52,A,Person,T40,DT_1B26001_A01,시도간전입,시군구별 이동자수,2023,2024-01-18,Jeonbuk-do,전북특별자치도,명,Inter province(in-migrants),101,By administrative divisions(si gun gu)
428,행정구역(시군구)별,54486,52,A,Person,T40,DT_1B26001_A01,시도간전입,시군구별 이동자수,2024,2025-01-08,Jeonbuk-do,전북특별자치도,명,Inter province(in-migrants),101,By administrative divisions(si gun gu)
429,행정구역(시군구)별,60626,52,A,Person,T50,DT_1B26001_A01,시도간전출,시군구별 이동자수,2022,2023-01-25,Jeonbuk-do,전북특별자치도,명,Inter province(out-migrants),101,By administrative divisions(si gun gu)
430,행정구역(시군구)별,58422,52,A,Person,T50,DT_1B26001_A01,시도간전출,시군구별 이동자수,2023,2024-01-18,Jeonbuk-do,전북특별자치도,명,Inter province(out-migrants),101,By administrative divisions(si gun gu)
431,행정구역(시군구)별,60546,52,A,Person,T50,DT_1B26001_A01,시도간전출,시군구별 이동자수,2024,2025-01-08,Jeonbuk-do,전북특별자치도,명,Inter province(out-migrants),101,By administrative divisions(si gun gu)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432 entries, 0 to 431
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   C1_OBJ_NM      432 non-null    object
 1   DT             432 non-null    int64
 2   C1             432 non-null    object
 3   PRD_SE         432 non-null    object
 4   UNIT_NM_ENG    432 non-null    object
 5   ITM_ID         432 non-null    object
 6   TBL_ID         432 non-null    object
 7   ITM_NM         432 non-null    object
 8   TBL_NM         432 non-null    object
 9   PRD_DE         432 non-null    object
 10  LST_CHN_DE     432 non-null    object
 11  C1_NM_ENG      432 non-null    object
 12  C1_NM          432 non-null    object
 13  UNIT_NM        432 non-null    object
 14  ITM_NM_ENG     432 non-null    object
 15  ORG_ID         432 non-null    object
 16  C1_OBJ_NM_ENG  432 non-null    object
dtypes: int64(1), object(16)
memory usage: 57.5+ KB

In [33]:
df.describe()

                 DT
count  4.320000e+02
mean   3.133659e+05
std    8.195902e+05
min   -4.469200e+04
25%    4.215625e+04
50%    8.688500e+04
75%    1.936498e+05
max    6.283319e+06

In [ ]:
df['DT'] = df['DT'].astype(int)

In [ ]:
# 순이동(전입 - 전출) 수
df.loc[df['ITM_NM'] == "순이동"].groupby("C1_NM")["DT"].sum()

C1_NM
강원특별자치도      3570
경기도        152712
경상남도       -43916
경상북도       -23874
광주광역시      -24621
대구광역시      -21519
대전광역시       -7163
부산광역시      -38651
서울특별시     -111282
세종특별자치시     14626
울산광역시      -20605
인천광역시       87251
전국              0
전라남도        -6133
전북특별자치도    -15632
제주특별자치도     -1900
충청남도        44818
충청북도        12319
Name: DT, dtype: int64