In [ ]:
from dotenv import load_dotenv
import requests 
import pandas as pd

base_url = "https://kosis.kr/openapi/Param/statisticsParameterData.do"

## 경상북도
method="getList"
apiKey="ZWRiNzEyMzEwNGI5OWQ3NzcxNGM1MDNiOGJkOTQ0Y2M="
itmId="T00+T10+T20+T30+"
objL1="37+37004+37005+37003+37010+37011+37012+37020+37030+37040+37050+37060+37070+37080+37090+37100+37310+37320+37330+37340+37350+37360+37370+37380+37390+37400+37410+37420+37430+"
objL2="000+005+010+015+020+025+030+035+040+045+050+055+060+065+070+075+080+085+086+090+095+100+101+999+102+103+104+126+127+"
objL3="&objL4="
objL5="&objL6="
objL7="&objL8="
format="json"
jsonVD="Y"
prdSe="Y"
newEstPrdCnt="3"
orgId="101"
tblId="DT_1IN1603"


# 전체
# method="getList"
# apiKey="ZWRiNzEyMzEwNGI5OWQ3NzcxNGM1MDNiOGJkOTQ0Y2M="
# itmId="T00+T10+T20+T30+"
# objL1="00+04+05+03+11+21+22+23+24+25+26+29+31+32+33+34+35+36+37+38+39+"
# objL2="000+005+010+015+020+025+030+035+040+045+050+055+060+065+070+075+080+085+086+090+095+100+101+999+102+103+104+126+127+"
# objL3="&objL4="
# objL5="&objL6="
# objL7="&objL8="
# format="json"
# jsonVD="Y"
# prdSe="Y"
# newEstPrdCnt="3"
# orgId="101"
# tblId="DT_1IN1603"

url = f"{base_url}?method={method}&apiKey={apiKey}&itmId={itmId}&objL1={objL1}&objL2={objL2}&objL3={objL3}&objL5={objL5}&objL7={objL7}&format={format}&jsonVD={jsonVD}&prdSe={prdSe}&newEstPrdCnt={newEstPrdCnt}&orgId={orgId}&tblId={tblId}"
response = requests.get(url)

items = response.json()
items

{'err': '11', 'errMsg': '유효하지 않은 인증KEY입니다.'}

In [2]:
df = pd.DataFrame(items)
df

,C1_OBJ_NM,C2_NM,DT,C2,C1,PRD_SE,UNIT_NM_ENG,ITM_ID,TBL_ID,ITM_NM,...,LST_CHN_DE,C1_NM_ENG,C1_NM,UNIT_NM,ITM_NM_ENG,C2_OBJ_NM_ENG,C2_NM_ENG,ORG_ID,C1_OBJ_NM_ENG,C2_OBJ_NM
0,행정구역별(시군구),합계,49855796,000,00,A,Person,T00,DT_1IN1603,인구(내국인),...,2017-08-30,Whole country,전국,명,Population(Korean),By age,Total,101,By administrative divisions,연령별
1,행정구역별(시군구),합계,24881520,000,00,A,Person,T10,DT_1IN1603,남자,...,2017-08-30,Whole country,전국,명,Male,By age,Total,101,By administrative divisions,연령별
2,행정구역별(시군구),합계,24974276,000,00,A,Person,T20,DT_1IN1603,여자,...,2017-08-30,Whole country,전국,명,Female,By age,Total,101,By administrative divisions,연령별
3,행정구역별(시군구),합계,99.6,000,00,A,NaN,T30,DT_1IN1603,성비,...,2017-08-30,Whole country,전국,NaN,Sex ratio,By age,Total,101,By administrative divisions,연령별
4,행정구역별(시군구),0~4세,2192603,005,00,A,Person,T00,DT_1IN1603,인구(내국인),...,2017-08-30,Whole country,전국,명,Population(Korean),By age,0 to 4 years,101,By administrative divisions,연령별
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2305,행정구역별(시군구),평균연령,39.1,126,39,A,Person,T10,DT_1IN1603,남자,...,2017-08-30,Jeju,제주특별자치도,명,Male,By age,Mean ages,101,By administrative divisions,연령별
2306,행정구역별(시군구),평균연령,42,126,39,A,Person,T20,DT_1IN1603,여자,...,2017-08-30,Jeju,제주특별자치도,명,Female,By age,Mean ages,101,By administrative divisions,연령별
2307,행정구역별(시군구),중위연령,41.9,127,39,A,Person,T00,DT_1IN1603,인구(내국인),...,2017-08-30,Jeju,제주특별자치도,명,Population(Korean),By age,Median ages,101,By administrative divisions,연령별
2308,행정구역별(시군구),중위연령,40.8,127,39,A,Person,T10,DT_1IN1603,남자,...,2017-08-30,Jeju,제주특별자치도,명,Male,By age,Median ages,101,By administrative divisions,연령별
2309,행정구역별(시군구),중위연령,43,127,39,A,Person,T20,DT_1IN1603,여자,...,2017-08-30,Jeju,제주특별자치도,명,Female,By age,Median ages,101,By administrative divisions,연령별