# 1. 서울 열린데이터 광장

In [16]:
# 데이터 사이트: https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey=인증키없음&itmId=T00+T10+T20+T30+&objL1=00+04+05+03+11+21+22+23+24+25+26+29+31+32+33+34+35+36+37+38+39+&objL2=000+005+010+015+020+025+030+035+040+045+050+055+060+065+070+075+080+085+086+090+095+100+101+999+102+103+104+126+127+&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Y&newEstPrdCnt=3&orgId=101&tblId=DT_1IN1603

base_url = "https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey=MzQ1NGMwZWMyNmRlMDhiMzBhNjZjYWFlY2FmOGM0OGU=&itmId=T00+T10+T20+T30+&objL1=00+04+05+03+11+21+22+23+24+25+26+29+31+32+33+34+35+36+37+38+39+&objL2=000+005+010+015+020+025+030+035+040+045+050+055+060+065+070+075+080+085+086+090+095+100+101+999+102+103+104+126+127+&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=Y&newEstPrdCnt=3&orgId=101&tblId=DT_1IN1603"

import requests 

response = requests.get(base_url)
print(response.status_code) 
response.json()

data = response.json()

200

In [18]:
import pandas as pd
df = pd.DataFrame(data)
df

,C1_OBJ_NM,C2_NM,DT,C2,C1,PRD_SE,UNIT_NM_ENG,ITM_ID,TBL_ID,ITM_NM,...,LST_CHN_DE,C1_NM_ENG,C1_NM,UNIT_NM,ITM_NM_ENG,C2_OBJ_NM_ENG,C2_NM_ENG,ORG_ID,C1_OBJ_NM_ENG,C2_OBJ_NM
0,행정구역별(시군구),합계,49855796,000,00,A,Person,T00,DT_1IN1603,인구(내국인),...,2017-08-30,Whole country,전국,명,Population(Korean),By age,Total,101,By administrative divisions,연령별
1,행정구역별(시군구),합계,24881520,000,00,A,Person,T10,DT_1IN1603,남자,...,2017-08-30,Whole country,전국,명,Male,By age,Total,101,By administrative divisions,연령별
2,행정구역별(시군구),합계,24974276,000,00,A,Person,T20,DT_1IN1603,여자,...,2017-08-30,Whole country,전국,명,Female,By age,Total,101,By administrative divisions,연령별
3,행정구역별(시군구),합계,99.6,000,00,A,NaN,T30,DT_1IN1603,성비,...,2017-08-30,Whole country,전국,NaN,Sex ratio,By age,Total,101,By administrative divisions,연령별
4,행정구역별(시군구),0~4세,2192603,005,00,A,Person,T00,DT_1IN1603,인구(내국인),...,2017-08-30,Whole country,전국,명,Population(Korean),By age,0 to 4 years,101,By administrative divisions,연령별
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2305,행정구역별(시군구),평균연령,39.1,126,39,A,Person,T10,DT_1IN1603,남자,...,2017-08-30,Jeju,제주특별자치도,명,Male,By age,Mean ages,101,By administrative divisions,연령별
2306,행정구역별(시군구),평균연령,42,126,39,A,Person,T20,DT_1IN1603,여자,...,2017-08-30,Jeju,제주특별자치도,명,Female,By age,Mean ages,101,By administrative divisions,연령별
2307,행정구역별(시군구),중위연령,41.9,127,39,A,Person,T00,DT_1IN1603,인구(내국인),...,2017-08-30,Jeju,제주특별자치도,명,Population(Korean),By age,Median ages,101,By administrative divisions,연령별
2308,행정구역별(시군구),중위연령,40.8,127,39,A,Person,T10,DT_1IN1603,남자,...,2017-08-30,Jeju,제주특별자치도,명,Male,By age,Median ages,101,By administrative divisions,연령별
2309,행정구역별(시군구),중위연령,43,127,39,A,Person,T20,DT_1IN1603,여자,...,2017-08-30,Jeju,제주특별자치도,명,Female,By age,Median ages,101,By administrative divisions,연령별

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2310 entries, 0 to 2309
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   C1_OBJ_NM      2310 non-null   object
 1   C2_NM          2310 non-null   object
 2   DT             2310 non-null   object
 3   C2             2310 non-null   object
 4   C1             2310 non-null   object
 5   PRD_SE         2310 non-null   object
 6   UNIT_NM_ENG    1764 non-null   object
 7   ITM_ID         2310 non-null   object
 8   TBL_ID         2310 non-null   object
 9   ITM_NM         2310 non-null   object
 10  TBL_NM         2310 non-null   object
 11  PRD_DE         2310 non-null   object
 12  LST_CHN_DE     2310 non-null   object
 13  C1_NM_ENG      2310 non-null   object
 14  C1_NM          2310 non-null   object
 15  UNIT_NM        1764 non-null   object
 16  ITM_NM_ENG     2310 non-null   object
 17  C2_OBJ_NM_ENG  2310 non-null   object
 18  C2_NM_ENG      2310 non-null   object
 19  ORG_ID         2310 non-null   object
 20  C1_OBJ_NM_ENG  2310 non-null   object
 21  C2_OBJ_NM      2310 non-null   object
dtypes: object(22)
memory usage: 397.2+ KB

In [26]:
# 1. 필요한 열만 리스트로 뽑기
needed_cols = ['C1_NM', 'C2_NM', 'ITM_NM', 'PRD_DE', 'DT']

# 2. 해당 열만 남기고 새 변수에 담기 (나머지는 자동으로 숨겨짐/삭제됨)
df_ana = df[needed_cols].copy()

In [27]:
# 3. ITM_NM이 '인구(내국인)'인 것만 남기기
df_ana = df_ana[df_ana['ITM_NM'] == '인구(내국인)']

# 4. C2_NM에서 청년층(예: 20~34세)에 해당하는 값만 필터링
youth_labels = ['20~24세', '25~29세', '30~34세']
df_ana = df_ana[df_ana['C2_NM'].isin(youth_labels)]

In [ ]:
# 지방에 대해서
# 청년 산출
#